* {
    box-sizing: border-box;
    @media (max-width: 768px) {
        cursor: default;
    }
}

.app {
    background: url("./berries-bg.jpg") center center/cover no-repeat;
    width: 100%;
    height: 100%;
}
