.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper_large {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        text-align: center;
        font-size: 50px;
        color: #fff;
    }

    &__block {
    }
    &__initialize {
    }
}
.spinner.spinner__wrapper_small {
    display: inline-block;
    position: absolute;
    max-height: 40px;
}
.spinner span {
}

@keyframes ldio-scbgiavrndk {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5, 1.5);
    }
    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

//large spinner
.ldio-scbgiavrndk div > div {
    position: absolute;
    width: 25.32px;
    height: 25.32px;
    border-radius: 50%;
    background: #2b52c8;
    animation: ldio-scbgiavrndk 1s linear infinite;
}
.ldio-scbgiavrndk div:nth-child(1) > div {
    left: 156.5px;
    top: 92.5px;
    animation-delay: -0.9s;
}
.ldio-scbgiavrndk > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 169.16px 105.16px;
}
.ldio-scbgiavrndk div:nth-child(2) > div {
    left: 144.5px;
    top: 130.5px;
    animation-delay: -0.8s;
}
.ldio-scbgiavrndk > div:nth-child(2) {
    transform: rotate(36deg);
    transform-origin: 157.16px 143.16px;
}
.ldio-scbgiavrndk div:nth-child(3) > div {
    left: 112.5px;
    top: 153.5px;
    animation-delay: -0.7s;
}
.ldio-scbgiavrndk > div:nth-child(3) {
    transform: rotate(72deg);
    transform-origin: 125.16px 166.16px;
}
.ldio-scbgiavrndk div:nth-child(4) > div {
    left: 73.5px;
    top: 153.5px;
    animation-delay: -0.6s;
}
.ldio-scbgiavrndk > div:nth-child(4) {
    transform: rotate(108deg);
    transform-origin: 86.16px 166.16px;
}
.ldio-scbgiavrndk div:nth-child(5) > div {
    left: 41.5px;
    top: 130.5px;
    animation-delay: -0.5s;
}
.ldio-scbgiavrndk > div:nth-child(5) {
    transform: rotate(144deg);
    transform-origin: 54.16px 143.16px;
}
.ldio-scbgiavrndk div:nth-child(6) > div {
    left: 29.5px;
    top: 92.5px;
    animation-delay: -0.4s;
}
.ldio-scbgiavrndk > div:nth-child(6) {
    transform: rotate(180deg);
    transform-origin: 42.16px 105.16px;
}
.ldio-scbgiavrndk div:nth-child(7) > div {
    left: 41.5px;
    top: 55.5px;
    animation-delay: -0.3s;
}
.ldio-scbgiavrndk > div:nth-child(7) {
    transform: rotate(216deg);
    transform-origin: 54.16px 68.16px;
}
.ldio-scbgiavrndk div:nth-child(8) > div {
    left: 73.5px;
    top: 32.5px;
    animation-delay: -0.2s;
}
.ldio-scbgiavrndk > div:nth-child(8) {
    transform: rotate(252deg);
    transform-origin: 86.16px 45.16px;
}
.ldio-scbgiavrndk div:nth-child(9) > div {
    left: 112.5px;
    top: 32.5px;
    animation-delay: -0.1s;
}
.ldio-scbgiavrndk > div:nth-child(9) {
    transform: rotate(288deg);
    transform-origin: 125.16px 45.16px;
}
.ldio-scbgiavrndk div:nth-child(10) > div {
    left: 144.5px;
    top: 55.5px;
    animation-delay: 0s;
}
.ldio-scbgiavrndk > div:nth-child(10) {
    transform: rotate(324deg);
    transform-origin: 157.16px 68.16px;
}
.loadingio-spinner-spin-lleuc40854p {
    width: 211px;
    height: 211px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-scbgiavrndk {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-scbgiavrndk div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */

//  spinner small

@keyframes ldio-yfe021g5ij {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5, 1.5);
    }
    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}
.ldio-yfe021g5ij div > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #2b52c8;
    animation: ldio-yfe021g5ij 1s linear infinite;
}
.ldio-yfe021g5ij div:nth-child(1) > div {
    left: 74px;
    top: 44px;
    animation-delay: -0.9s;
}
.ldio-yfe021g5ij > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 80px 50px;
}
.ldio-yfe021g5ij div:nth-child(2) > div {
    left: 68px;
    top: 62px;
    animation-delay: -0.8s;
}
.ldio-yfe021g5ij > div:nth-child(2) {
    transform: rotate(36deg);
    transform-origin: 74px 68px;
}
.ldio-yfe021g5ij div:nth-child(3) > div {
    left: 53px;
    top: 73px;
    animation-delay: -0.7s;
}
.ldio-yfe021g5ij > div:nth-child(3) {
    transform: rotate(72deg);
    transform-origin: 59px 79px;
}
.ldio-yfe021g5ij div:nth-child(4) > div {
    left: 35px;
    top: 73px;
    animation-delay: -0.6s;
}
.ldio-yfe021g5ij > div:nth-child(4) {
    transform: rotate(108deg);
    transform-origin: 41px 79px;
}
.ldio-yfe021g5ij div:nth-child(5) > div {
    left: 20px;
    top: 62px;
    animation-delay: -0.5s;
}
.ldio-yfe021g5ij > div:nth-child(5) {
    transform: rotate(144deg);
    transform-origin: 26px 68px;
}
.ldio-yfe021g5ij div:nth-child(6) > div {
    left: 14px;
    top: 44px;
    animation-delay: -0.4s;
}
.ldio-yfe021g5ij > div:nth-child(6) {
    transform: rotate(180deg);
    transform-origin: 20px 50px;
}
.ldio-yfe021g5ij div:nth-child(7) > div {
    left: 20px;
    top: 26px;
    animation-delay: -0.3s;
}
.ldio-yfe021g5ij > div:nth-child(7) {
    transform: rotate(216deg);
    transform-origin: 26px 32px;
}
.ldio-yfe021g5ij div:nth-child(8) > div {
    left: 35px;
    top: 15px;
    animation-delay: -0.2s;
}
.ldio-yfe021g5ij > div:nth-child(8) {
    transform: rotate(252deg);
    transform-origin: 41px 21px;
}
.ldio-yfe021g5ij div:nth-child(9) > div {
    left: 53px;
    top: 15px;
    animation-delay: -0.1s;
}
.ldio-yfe021g5ij > div:nth-child(9) {
    transform: rotate(288deg);
    transform-origin: 59px 21px;
}
.ldio-yfe021g5ij div:nth-child(10) > div {
    left: 68px;
    top: 26px;
    animation-delay: 0s;
}
.ldio-yfe021g5ij > div:nth-child(10) {
    transform: rotate(324deg);
    transform-origin: 74px 32px;
}
.loadingio-spinner-spin-dqfcwt8bn1 {
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-yfe021g5ij {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.4);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-yfe021g5ij div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */
