.item__page {
    margin: 0 auto;
    padding: 70px 20px 20px;
    .product__image {
        width: 80%;
    }
    .product__descr {
    }
}
.product__item.item__page {
    .item__page_wrapper {
        position: relative;
        a.item__page_close {
            .cart__close {
                color: #fff;
                width: 17px;
                height: 17px;
                top: 5px;
                right: 5px;
                span {
                    position: absolute;
                    bottom: 0;
                    top: -4px;
                }
            }
        }
    }
}
.item__page .product__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
