.page__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.start__page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 200px;
    width: 300px;
    padding: 0px 10px;
    border-radius: 20px;
}
.start__page_button {
    position: relative;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    &::before {
        content: "";
        position: absolute;
        display: block;
        top: -150%;
        left: 50%;
        width: 40px;
        height: 40px;
        background: url("./start-page-arrow.svg") center center/cover no-repeat;
        transform: rotate(90deg) translateY(50%);
        animation: arrow 1.7s infinite;
        @media (max-width: 768px) {
            display: none;
        }
    }
    &:hover {
        @media (min-width: 768px) {
            background-color: #3836bd;
            cursor: pointer;
            transition: 1s all;
        }
    }
    span {
        line-height: 20px;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

@keyframes arrow {
    0% {
        top: -200%;
        opacity: 0.3;
    }
    50% {
        top: -150%;
        opacity: 1;
    }
    100% {
        top: -200%;
        opacity: 0.3;
    }
}
