.product {
    &__item {
        flex: 0 1 200px;
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(256, 256, 256, 0.1);
        border-radius: 8px;
        padding: 10px;
        margin: 5px;
        min-height: 230px;
        list-style-type: none;
    }
    &__title {
        position: relative;
        font-size: 22px;
        margin-bottom: 10px;
        text-align: center;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 5%;
        background-color: black;
        white-space: nowrap;
    }
    &__image {
        margin-bottom: 5px;
        overflow: hidden;
        margin: 0 auto;
        min-height: 142px;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__category,
    &__price {
        margin-bottom: 10px;
        span {
            font-weight: 700;
        }
    }
    &__category {
        display: flex;
        align-items: center;
        margin: 10px 0px;
    }
    &__btn {
        width: 150px;
        height: 40px;
        border: none;
        background-color: #3836bd;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;

        &_small {
            overflow: hidden;
            margin: 0px 7px;
            width: 100px;
            height: 100%;
            background-color: #000;
        }
    }
    &__btn:disabled {
        background-color: rgba(0, 0, 0, 0.637);
        cursor: not-allowed;
    }
}
.product__item {
    a {
        text-decoration: none;
        @media (max-width: 768px) {
            cursor: default;
        }
    }
}
